xsd/Peticio_DadesEspecifiques_Recursos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.aoc.cat/hestia" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.aoc.cat/hestia/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- ======================================================= -->
	<!-- DadesEspecifiques                                       -->
	<!-- ======================================================= -->
	<xs:element name="DadesEspecifiques">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CodINE" type="xs:string"/>
				<xs:element name="IdRecurs" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
